@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: AstroSpace;
  src: url(/fonts/AstroSpace.ttf);
}


body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url(https://www.cswarzone.com/wp-content/uploads/2019/06/De_dust2_new_v4-1920x1080.jpg);
  background-size: 100%;
}

header {
  background-color: #141b25;
  padding: 0px;
}

.scores{
    border: 3px solid #73AD21;
    width: 150px;
    height: 80px;
    text-align: left;
}


.main-nav {
  height: 90px;
}

.logo {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.3s linear 0s;
}

.navlinks li a:hover {
  color: #7ebcb9;
  padding-bottom: 7px;
  border-bottom: 2px solid #7ebcb9;
}

li a.contact {
  background-color: #00adb5;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s linear 0s;
}

li a.contact:hover {
  background-color: #047e85;
  color: white;
  border-bottom: none;
}

.menu-btn {
  color: white;
  font-size: 25px;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#isChecked {
  display: none;
}

@media (max-width: 800px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: #222831;
    right: -100%;
    transition: all 0.5s;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }
  .menu-btn {
    display: block;
  }

  #isChecked:checked ~ .navlinks {
    right: 0;
  }
}

#startButton{
    width: 10%;
    height: 20%;
    background-color: wheat;
    color: cornflowerblue;
    left: 45%;
    top: 40%;
    position: absolute;
    font-size: large;
}

#aimButton{
    background-image: url(terrorist.png);
    background-color: null;
    position: absolute;
    width: 500px;
    height: 500px;
    left: 500px;
}

#scoreHeader{
    color: whitesmoke;
}

#timer{
    color: tomato;
}



@media (max-width: 350px) {
  .logo {
    margin-left: 15px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 15px;
    font-size: 25px;
  }
}